$screenSize-320: 320;
$screenSize-480: 480;
$screenSize-768: 768;
$screenSize-1080: 1080;
$screenSize-1440: 1440;

@mixin screen-480 {
    @media screen and (min-width: $screenSize-480 + px) and (max-width: $screenSize-768 - 1 + px) {
        @content;
    }
}

@mixin screen-768 {
    @media screen and (min-width: $screenSize-768 + px) and (max-width: $screenSize-1080 - 1 + px) {
        @content;
    }
}

@mixin screen-1080 {
    @media screen and (min-width: $screenSize-1080 + px) and (max-width: $screenSize-1440 - 1 + px) {
        @content;
    }
}

@mixin min-screen-480 {
    @media screen and (min-width: $screenSize-480 + px) {
        @content;
    }
}

@mixin min-screen-768 {
    @media screen and (min-width: $screenSize-768 + px) {
        @content;
    }
}

@mixin min-screen-1080 {
    @media screen and (min-width: $screenSize-1080 + px) {
        @content;
    }
}

@mixin min-screen-1440 {
    @media screen and (min-width: $screenSize-1440 + px) {
        @content;
    }
}

@mixin max-screen-320 {
    @media screen and (max-width: $screenSize-480 - 1 + px) {
        @content;
    }
}

@mixin max-screen-480 {
    @media screen and (max-width: $screenSize-768 - 1 + px) {
        @content;
    }
}

@mixin max-screen-768 {
    @media screen and (max-width: $screenSize-1080 - 1 + px) {
        @content;
    }
}

@mixin max-screen-1080 {
    @media screen and (max-width: $screenSize-1440 - 1 + px) {
        @content;
    }
}
